@font-face {
    font-family: 'Ownglyph_corncorn-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KCCChassam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html { /* 전체 배경 */
    background-image: url('../img/Gemini_Generated_Image_k8wuook8wuook8wu.png');
    background-position: center;
    background-size: cover;
    /* background-size: cover; */
    font-family: 'KCCChassam';
    font-size: 30px;
}

.background { /* 상자배경 */
    max-width: 800px;
    height: 50%;
    margin: 40% auto;
    background-color: rgba(255, 240, 230, 0.57);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0 0, 0.1);
    align-items: center;
    text-align: center;

    padding: 20px 20px 12px;
    padding-top: 20px;
    padding-bottom: 26px;
}

form {
    gap: 20px;
    align-items: center;
    padding: 20px;
}

#id_title,
.but {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px;
    border-radius: 5px;
    font-family: 'KCCChassam';
}

.label {
    font-size: 20px;
    text-align: right;
}

table {
    width: 100%;
    /* border-collapse: collapse; */
    /* margin-top: 20px; */
    border-color: black;
}

.in {
    text-align: left;
}