# 가상환경 폴더
venv/
.venv/
env/

# Python 캐시 파일
__pycache__/
*.py[cod]
*.so

# Django SQLite 데이터베이스
*.sqlite3
db.sqlite3

# Django migrations folder
*/migrations/

# PyCharm 설정 폴더
.idea/

# VSCode 설정 폴더
.vscode/

# 환경 설정 파일
.env

# macOS, Windows 임시 파일
.DS_Store
Thumbs.db
