<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% load static %} <!--css 파일 연결 import-->
    <link href="{% static 'common/css/login.css' %}" rel="stylesheet"> <!--css 파일 연결-->
    <title>로그-인</title>
</head>
<body>
    <div class = background>
        <p>
            어떤 책을 가지고 있는지,<br>
            어떤 취향을 가지고 있는지.<br>
        </p>
        <h4>어서오세요. 당신의 서재에.</h4>
        <h2>로그-인</h2>
        <form id="login" method="post">
            {% csrf_token %}
            <div class="login">
                <label for="username">아이디</label> 
                <input type="text" id="username" name="username" class="login linput">
            </div>
            <div class="login">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" class="login linput">
            </div>
            <button type="submit" class="but">입장</button>
            <p class="ment">
                아직 서재를 보유하고 있지 않다면 ...<a href="{% url 'users:signup' %}">나만의 서재 만들기</a>
            </p>
        </form>
    </div> <!--background-->
</body>
</html>
