<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% load static %} <!--css 파일 연결 import-->
    <link href="{% static 'books/css/book_list.css' %}" rel="stylesheet"> <!--css 파일 연결-->
    <title>나의 서재</title>
</head>
<body>
    <div class = background>
    <H1 class="title">당신의 서재</H1>
    <table border="2" class="booklist">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>책</th>
                <th>제목</th>
                <th>저자</th>
                <th>출판사</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><span class="bookcover"><img src ="{{ book.thumbnail }}" alt="이미지 없음"></span></td>
                <td>{{ book.title }}</td>
                <td>{{ book.authors }}</td>
                <td>{{ book.publisher }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div> <!--background-->
</body>
</html>
